.multiSenderForm > * {
  display: block;
}

.multiSenderForm {
  padding: 3%;
}

.multiSenderForm textarea {
  border: 2px solid #cf754a;
  border-radius: 5px;
  padding: 2%;
  width: -webkit-fill-available;
}

.multiSenderForm textarea::-webkit-scrollbar {
  background: none;
  width: 4px;
}

.multiSenderForm textarea::-webkit-scrollbar-thumb {
  background-color: #cf754a;
  border-radius: 30px;
}

.multiSenderForm button {
  background-color: transparent;
  padding: 10px 58px;
  border: 2px solid #cf754a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: #745330;
  display: block;
  margin: 25px auto 20px auto;
}

.multiSenderForm button:hover {
  background-color: #cf754a;
  color: white;
}
