.listItems {
  list-style: none;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  align-items: center;
  margin: 12px 0;
}

.listItems img {
  width: 10px;
}

.listItems p {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #745330;
}

@media only screen and (min-width: 1080px) {
  .listItems p {
    font-size: 16px;
  }
}
