.headerGrid {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  user-select: none;
}

.logoImage img {
  width: 80px;
  cursor: pointer;
}

.headerGrid nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: auto;
  width: 100%;
}

.headerGrid nav > div ul {
  display: flex;
}

.headerGrid nav > div ul li {
  margin-right: 30px;
  list-style: none;
}

.headerGrid a,
.headerGrid span {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
}

.headerGrid span:hover {
  color: #cf754a;
}

@media only screen and (min-width: 1080px) {
  .headerGrid {
    grid-template-columns: 150px 1fr;
  }
  .headerGrid nav {
    justify-self: auto;
  }

  .headerGrid a,
  .headerGrid span {
    font-size: 16px;
  }

  .headerGrid nav > div ul li {
    margin-right: 80px;
  }
}
