.Header,
.Row {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  align-items: center;
  justify-items: center;
  width: max-content;
}

.Header p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #cf754a;
  margin: 5px 0;
}

.Row {
  padding: 10px 0;
}

.Row > * {
  margin: 7px 0;
}

.Row span {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;

  color: #949494;
}

.Row button {
  background: #ffffff;
  border: 2px solid #cf754a;
  box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 20%);
  border-radius: 3px;
  width: max-content;
  padding: 5px 28px;
  display: block;
  cursor: pointer;
  color: #cf754a;
  font-size: 13px;
}

.Row button:hover {
  background-color: #cf754a;
  color: white;
}

.userContainer {
  padding: 35px;
  overflow-x: scroll;
}

.userContainer::-webkit-scrollbar {
  height: 10px;
}

.userContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.userContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #cf754a 0%, #d89b5a 100%);
  outline: none;
}
.userContainer hr {
  width: 555px;
}

.Row img {
  width: 20px;
  cursor: pointer;
}

.paginationContainer {
  margin-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 1080px) {
  .Header p {
    margin: 15px 0;
  }
  .Row > * {
    margin: 0;
  }

  .Header,
  .Row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
  }
  .userContainer hr {
    width: 100%;
  }
}
