.senderSection p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  color: #cf754a;
}

.nftSection,
.usersSection,
.duePaymentSection,
.senderSection,
.paymentsSection {
  margin-bottom: 80px;
}

.paymentsSection {
  width: 350px;
}

.nftSection > button {
  filter: drop-shadow(0px 3px 10px rgba(207, 117, 74, 0.25));
  background-color: white;
  border-radius: 10px;
  border: none;
  width: max-content;
  padding: 0 40px;
  height: 120px;
  margin: 45px 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;

  color: #cf754a;
}
